footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  background-color: #d3d6da;
  border-radius: 5px;
  width: 45px;
  height: 60px;
}

.keyboard-block__side {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  background-color: #d3d6da;
  border-radius: 5px;
  width: 70px;
  height: 60px;
}

.keyboard-block__side img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
}
