header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 15px;
  position: relative;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.wordle-icons {
  width: 40px;
  height: 40px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: bolder;
}
