main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.timer {
  font-size: 20px;
  font-weight: bold;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  font-size: 40px;
  font-weight: bold;
  width: 60px;
  height: 60px;
}
